<!DOCTYPE html>
<html lang="en" dir="ltr">
    <script src="/public/js/default.js"></script>
    <link rel="stylesheet" href="/public/css/default.css">
    <script>
        defaultFunction();
    </script>
    {{template "head" .}}
    {{template "top-nav"}}

</html>