<html>
    <header>
        <script src="/public/js/type/Login.js"></script>
    </header>

    <label>Email</label><input id = "login-email"/>
    <br/>
    <label>Password</label><input id = "login-password" type = "password"/>
    <br/>
    <button id = "login">Login</button>


    <body>
        <script>
            login = new Login();
        </script>
    </body>
</html>