<html>
    <header>
        <script src="/public/js/type/Signup.js"></script>
    </header>

    <label>Email or Username</label><input id = "email" type = "email"/>
    <br/>
    <label>Password</label><input id = "password" type = "password"/>
     <br/>
    <label>Confirm Password</label><input id = "cPassword" type = "password"/>
    <br/>
    <button id = "signup-button">Sign up!</button>

    <body>
        <script>
            signup = new SignUp();
        </script>
    </body>
</html>